<form method="post" id="purchase-categoty-form">
    <div class="form-horizontal">
        <h4>PurchaseCategory</h4>
        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="purchase-category-name" name="Name" type="text" value="">

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Description">Description</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="purchase-category-description" name="Description" type="text" value="">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="purchase-categoty-submit">
            </div>
        </div>
    </div>
</form>